.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 730px;
  }

  @media (min-width: 1440px) {
    width: 1260px;
  }

  @media (min-width: 1920px) {
    width: 1440px;
  }
}
